<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Fahabo</title>
    <link rel="stylesheet" href="/css/homepage.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div>
        <div class="home">
            <div class="site_title">
                <h1 class="site_name">Contact</h1>
            </div>

            <img id="avatar" src="/img/logo.png" alt="avatar">

            <h5>If you have any question or problem. Please contact us by the following field:</h5>
            <p>Email: phucgo240699@gmail.com</p>
    </div>
</body>
</html>